@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
 /*general*/

:root{
	--background-color: rgb(16,74,101);
	--text-color-dark: rgba(5,55,87,255);
	--text-color-light: rgba(241,239,220);
	--flair-color: rgba(5,55,87,255);
	--welcome-color: rgba(241,239,220, 0.8);
	--main-color: rgba(0, 51, 82, 0.8);
	--main-color-none-trasparent: rgba(0, 51, 82, 1);
	--nav-color: rgb(241,239,220);
}
* {
  margin: 0;
 	padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 18px;
  scroll-behavior: smooth;
}

body{
	font-family: 'Montserrat', Arial, sans-serif;
	color: var(--text-color-dark);
	font-weight: 200;
  text-align: center;
}
body::before{
	background: url(https://i.ibb.co/1XWLxWH/background-image.jpg), var(--background-color);
	content: " ";
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
 	background-size: cover;
 	position: fixed;
 	z-index: -1;
 	
}

.grid{
  display: grid;
}
.flex {
  display: flex;
}

.wrapper{
  position: relative;
  width: 80%;
  margin: 0 auto;
  grid-template-rows:  auto 100vh auto 50px; 
  grid-template-areas: 
    "nav"
   	"header"
   	"main"
   	"footer"
}

header,
main,
footer
 {
	height: 100%;
} 

.auto-margin{
  padding: 15%
}
.top-fade {
	background: linear-gradient(to bottom, rgb(241,239,220), rgb(241,239,220, 0.9));
}

/* grid NB to change to grid */

/* nav */

nav {
  grid-area: nav;
}

#navbar{ 
	margin: 0;
	height: 48px;
	position: fixed;
	width: 80%;
	box-sizing: border-box;
	top:0;
	background-color: var(--nav-color);
	transition: top 0.5s ease;
	z-index: 1;
}
#navbar ul {
	align-content: center;
	list-style: none;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
#navbar li a{
	display: inline-block;
  height: 100%;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	color: inherit;
	transition: 0.5s;
	font-weight: 400;
	}
#navbar a:hover {
	background-color: var(--flair-color);
	opacity: 0.8;
	color: var(--text-color-light);
}


/* header */

header{
	height: 100%;
  width: 100%;
 	background-color: var(--welcome-color); 
 	color: var(--text-color-dark);
  grid-area: header;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {

}

h1 { 
  font-size: 4rem;
  font-weight: inherit;
  text-shadow: 3px 3px 3px #F4E8BC;	
}

.tag{
	font-size: 2rem;
}
/* main */

main {
  grid-area: main;
}

.main-container {
  grid-template-rows: repeat(3, minmax(400px, 1fr));
  grid-template-areas: 
    "projects"
    "about"
    "contact";
}

main section p{
	font-size: 1.5rem;
	text-align: center;
}

/* main > projects */

#projects{
	background: linear-gradient(var(--welcome-color), var(--main-color));
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 15%;
	width: 100%;
	height: 100%;
	margin: auto;
	justify-content: center;
	grid-area: projects;
}

#projects p{
	text-align: center;
	margin-bottom: 20px;
	color: var(--text-color-dark);
}

.row {
  display: -ms-flexbox; /* IE10 */
 	display: flex;
 	-ms-flex-wrap: wrap; /* IE10 */
 	flex-wrap: wrap;
 	padding: 0 10px;
}
.column {
 	-ms-flex: 25%; /* IE10 */
 	flex: 25%;
 	max-width: 50%;
 	padding: 0 10px;
}

.column img{
  margin-top: 16px;
  vertical-align: middle;
  width: 100%;
  height: auto;
  display: block;
}

.img-container{
 position: relative;
}

.overlay{
 position: absolute;
 bottom: 100%;
 left: 0;
 right: 0;
 background-color: var(--main-color-none-trasparent);
 overflow: hidden;
 width: 100%;
 height: 0;
 transition: .5s ease;
}

.overlay a{
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.img-container:hover .overlay{
 bottom: 0;
 height: 100%;
}

.img-text {
 color: var(--text-color-light);
 font-size: 1.25rem;
 font-weight: 200;
 position: absolute;
 top: 50%;
 left: 50%;
 -ms-transform: translate(-50%, -50%); /*IE10*/
 -webkit-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 text-align: center;
}

.fab {
 font-size: 5rem;
 color: var(--text-color-light);
 transition: .5s ease;
}

.fab:hover{
 transform: scale(1.25, 1.25);
}
/* about */

#about{
	grid-area: about;
	background-color: var(--main-color);
	width: 100%;
	height: 100vh;
	align-content: center;
	justify-content: center;
	padding: 15%;
	margin: auto;
}

#about img{
	margin: auto;
	display: block;
}

/* contact */

#about p,
#contact p{
	color: var(--text-color-light);
}
#contact p{
	margin-bottom: 40px;
}


#contact {
	background-color: var(--main-color);
	grid-area: contact;
  padding-top: 15%;
	padding-bottom: 230px;
}
#contact ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 100%;
	margin: auto;
}
#contact li {
	padding: 0 5%;
	max-width: 1fr;
	min-width: 192px;
	text-decoration: none;
	text-align: center;
}
/*
#contact a {
	display: block;
}
*/

/* footer */

footer {
  grid-area: footer;
	color: var(--text-color-light);
	height: 100%;
	width: 100%;
	text-align: center;
  font-size: 80%;
	font-style: italic;
	margin-bottom: 40px;
  background-color: var(--main-color)   	
}
footer a{
	color: inherit;
}

@media (max-width: 1024px) {
	#wrapper{
		width: 100%;
		margin: 0;
	}
	#navbar{
		width: 100%;
		margin: 0;
	}
}
@media (max-width: 767px){
	#contact{
		padding-bottom: 140px;
	}
	#contact li{
		padding: 10px 0 10px 0;
	}
	footer{
		position: relative;
		top: 100px;
	}
}
@media (max-width: 450px){

	h1{
		font-size: 3.5rem;
	}
	#tag{
		font-size: 1.25rem;
	}
	#navbar{
		width: 100%;
	}
	#navbar ul{
		grid-template-rows: repeat(4, 50px);
		grid-template-columns: auto;
	}
	#navbar li{
		border-bottom: 1px solid #877c77;
	}
	footer{
		top: 170;
	}
	
}
@media (max-width: 380px) {
  
	#contact{
		padding-bottom: 200px;
	}
	#contact ul{
		width: 100%;
		background-color: var(--flair-color);
	}
	#contact li{
		width: 100%;
		border-top: 1px solid var(--text-color-dark);
		border-bottom: 1px solid var(--text-color-dark);
	}
	.img-text {
		font-size: 1rem;
	}
	footer{
		top: 350px;
	}
}