 /*general styles*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

:root{
  --light-text: rgba(241,239,220);
	--dark-text: rgba(5,55,87,255);
  --light-background: rgba(241,239,220, 0.8);
	--dark-background: rgba(0, 51, 82, 0.8);
	--dark-background-non-transparent: rgba(0, 51, 82, 1);
	--light-background-non-transparent: rgb(241,239,220);
	--flair-color: rgba(5,55,87,255);
}

* {
  margin: 0;
 	padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

body{
	font-family: 'Montserrat', Arial, sans-serif;
	color: var(--text-color-dark);
	font-weight: 200;
  font-size: 1.5rem;
  text-align: center;
}

body::before{
	background: url(./images/background-image.jpg), var(--dark-background);
	content: " ";
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
 	background-size: cover;
 	position: fixed;
 	z-index: -1;
}

header,
main,
footer
 {
	height: 100%;
} 

.wrapper{
  position: relative;
  width: 80%;
  margin: 0 auto;
  grid-template-rows:  auto auto auto 50px; 
  grid-template-areas: 
    "nav"
   	"header"
   	"main"
   	"footer"
}

nav {
  grid-area: nav;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}


footer {
  grid-area: footer;
}

/* universal classes */

.grid{
  display: grid;
}

.flex {
  display: flex;
}

.auto-margin{
  padding: 15%
}
.top-fade {
	background: linear-gradient(to bottom, rgb(241,239,220), rgb(241,239,220, 0.9));
}

.light-text {
  color: var(--light-text);
}

.dark-text {
  color: var(--dark-text);
}

.light-background {
  background-color: var(--light-background);
}

.dark-background {
  background-color: var(--dark-background);
}

.light-background-nt {
  background-color: var(--light-background-non-transparent);
}
.dark-background-nt {
  background-color: var(--dark-background-non-transparent);
}

.bold {
  font-weight: 300;
}
/* nav */

#navbar{ 
	margin: 0;
	height: 48px;
	position: fixed;
  top:0;
	width: 80%;
	background-color: var(--light-background-non-transparent);
	transition: top 0.5s ease;
	z-index: 1000;
}

#navbar ul {
	align-content: center;
	list-style: none;
	display: grid;
	grid-template-rows: repeat(4, auto);
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
#navbar li a{
	display: block;
  height: 100%;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	color: inherit;
	transition: 0.5s;
	font-weight: 400;
	}

#navbar a:hover {
	background-color: var(--flair-color);
	opacity: 0.8;
	color: var(--light-text);
}

/* main page header */

.main-header {
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 { 
  font-size: 4rem;
  font-weight: inherit;
}

.tag{
	font-size: 2rem;
}
/* main page main section */


.main-container {
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    "projects"
    "about"
    "contact"
}
.main-container section p,
.main-container section form {
	text-align: center;
}
/* main page > projects */

#projects{
	background: linear-gradient(var(--light-background), var(--dark-background));
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 15%;
	width: 100%;
	height: 100%;
	margin: auto;
	justify-content: center;
	grid-area: projects;
}

#projects p{
	text-align: center;
	margin-bottom: 20px;
}

.row {
 	display: flex;
 	flex-wrap: wrap;
 	padding: 0 10px;
}
.column {
 	flex: 25%;
 	max-width: 50%;
 	padding: 0 10px;
}

.column img{
  margin-top: 16px;
  width: 100%;
  height: auto;
  display: block;
}

.img-container{
 position: relative;
}

.overlay{
 position: absolute;
 bottom: 100%;
 left: 0;
 right: 0;
 background-color: var(--dark-background-non-transparent);
 overflow: hidden;
 width: 100%;
 height: 0;
 transition: .5s ease;
}

.overlay a{
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.img-container:hover .overlay{
 bottom: 0;
 height: 100%;
}

.img-text {
 color: var(--light-text);
 font-size: 1.25rem;
 font-weight: 200;
 position: absolute;
 top: 50%;
 left: 50%;
 -webkit-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 text-align: center;
}

/* main > about */

#about{
	grid-area: about;
	width: 100%;
	height: 100%;
	align-content: center;
	justify-content: center;
	padding: 15%;
	margin: auto;
}

.responsive {
  margin: auto;
	display: block;
  width: 512px;
  height: 512px;
 }

/* main > contact */

#contact p{
	margin-bottom: 1.5rem;
}

#contact {
	grid-area: contact;
  padding-top: 15%;
	padding-bottom: 230px;
}
#contact ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 50%;
	margin: auto;
}
#contact li {
	padding: 0 5%;
	max-width: 1fr;
	min-width: 192px;
	text-decoration: none;
	text-align: center;
}
#contact li a {
	display: block;
}

#contact span a {
  color: inherit;
}

#contact span a:active {
  color: inherit;
}

.fab {
  font-size: 5rem;
  color: var(--light-text);
  transition: .5s ease;
 }
 
 .fab:hover {
  transform: scale(1.25, 1.25);
 }
/* footer */

footer {
  grid-area: footer;
	height: 100%;
	width: 100%;
	text-align: center;
  font-size: 1rem;
	font-style: italic;
	margin-bottom: 40px;	
}
footer a{
	color: inherit;
}

/* Contact page */

.contact-header {
  height: fit-content;
}

.contact-header h1 {
  font-size: 3.5rem;
  margin-top: 100px;
}

.contact-header .tag {
  font-size: 1.5rem;
  margin: 0 5px;
}

.survey-container {
  font-size: 1.25rem;
  margin: 25px 5%;
}

.form-group {
  text-align: left;
}

.input-radio {
  font-size: 1.25rem;
}

input,
button,
select,
textarea,
select:invalid,
::placeholder{
  margin:0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #979697;
}

.form-group{
  display: block;
  margin: 1rem;
}

.form-group button{
  width: 100%;
  height: 50px;
  cursor: pointer;
}

.form-group textarea{
  width: 100%;
  height: 100px;
  resize: vertical;
}

.form-control{
  display: block;
  width: 100%;
  height: 2rem;
  margin: 5px;
  border-radius: 5px;
}
.form-control:focus{
  border-color:var(--light-text);
  outline:0;
}

/* media queriess */


@media (max-width: 960px) {
  html {
    font-size: 18px;
  }
	.wrapper{
		width: 100%;
	}
	#navbar{
		width: 100%;
	}
  .responsive {
    height: 320px;
    width: 320px;
  }
}
@media (max-width: 767px){
	#contact{
		padding-bottom: 140px;
	}
	#contact li{
		padding: 10px 0 10px 0;
	}
	
}
@media (max-width: 480px){

	html {
    font-size: 12px;
  }
	#navbar{
		width: 100%;
	}
	#navbar ul{
		/*grid-template-rows: repeat(4, 50px); */
		grid-template-columns: auto;
	}
	#navbar li{
		border-bottom: 1px solid #877c77;
	}

  .responsive {
    width: 100%;
    height: auto;
  }
	#contact li{
		width: 100%;
		border-top: 1px solid var(--text-color-light);
		border-bottom: 1px solid var(--text-color-light);
	}
	.img-text {
		font-size: 1rem;
	}

  #contact ul{
    height: auto;
		width: 100%;
		background-color: var(--flair-color);
	}
}
